<!DOCTYPE html>
<html lang="es">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    .img-invoice {
        width: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .head {
        text-align: center;
        text-transform: uppercase;
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
    }

    .text-center{
        text-align: center;
    }
</style>
<body>

<p class="head">
    {{ comp.name|upper }}<br>
    {{ comp.ruc }}<br>
    {{ comp.address|upper }}
</p>

<p>____________________________________________________________________________________________________________________</p>

<h2> ID de Consulta N°{{ hist.id }} </h2>
<h3> Fecha de Consulta : {{ hist.id_cita.esp_medic.fecha_cita }} </h3>
    </br>
<p>____________________________________________________________________________________________________________________</p>
<h2> Detalles de la Cita </h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h6> Nombre del Paciente: {{ hist.id_cita.paciente}} </h6>
        </div>
        <div class="col-lg">
            <h6> Nombre de la Especialidad: {{ hist.id_cita.esp_medic.id_especialidad.nombre_esp}} </h6>
        </div>
        <div class="col-lg">
            <h6> Nombre del Médico: {{ hist.id_cita.esp_medic.id_medico.usuario}} </h6>
        </div>
        <div class="col-lg">
            <h6> Consultorio: {{ hist.id_cita.esp_medic.consul}} </h6>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h6> Día de Atención: {{ hist.id_cita.esp_medic.dia_laboral}} </h6>
            </div>
            <div class="col-md-6"><h5> Horario: {{ hist.id_cita.esp_medic.horario}} </h5></div>

        </div>
    </div>
</div>

    </br>
<p>____________________________________________________________________________________________________________________</p>

    </br>
<p><b>Diagnóstico </b></p>
<p>{{ hist.diagnostico }}</p>

    </br>
    </br>
    <table id="invoice">
    <thead>
    <tr>
        <th style="width: 10%;">TIPO DE EXAMEN</th>
        <th style="width: 15%;">DESCRIPCIÓN</th>
    </tr>
    </thead>
    <tbody>
    {% for examen in hist.examen.all %}
       <tr{% if forloop.first %} style="padding-top: 3px;" {% endif %}>
         <td>{{ examen.nombre }} </td>
         <td style="width: 65%;">{{ examen.descrip }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </br>
    </br>
    </br>
    <table id="invoice">
    <thead>
    <tr>
        <th style="width: 20%;">MEDICAMENTO</th>
        <th style="width: 20%;">PRESENTACIÓN</th>
        <th style="width: 15%;">VOLUMEN - PESO </th>
        <th style="width: 20%;">INDICACIONES</th>
    </tr>
    </thead>
    <tbody>
    {% for receta in hist.receta.all %}
       <tr{% if forloop.first %} style="padding-top: 3px;" {% endif %}>
          <td>{{ receta.medicamento.nombre }}</td>
           <td>{{ receta.medicamento.presentacion }}</td>
           <td>{{ receta.medicamento.volumen }}</td>
           <td>{{ receta.descripcion }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>




<table style="margin-top: 250px;">
    <thead>
    <tr>
        <th>****GRACIAS POR PREFERIRNOS****</th>
    </tr>
    </thead>
</table>
</body>
</html>