{% extends 'admi/lista_admi.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'paciente/cita.js' %}"></script>
{% endblock %}
   {% block colums %}
        <tr>
            <th>ID</th>
            <th>Paciente</th>
            <th>Medico</th>
            <th>Especialidad</th>
            <th>Día de atención</th>
            <th>Hora</th>
            <th>Consultorio</th>
            <th>Motivo</th>
            <th>Opciones</th>
        </tr>
    {% endblock %}

    {% block rows %}

    {% endblock %}