{% extends 'homePaciente.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contentPa %}
    <!-- Agendar una Cita -->
    <div class="container-fluid  mx-auto ">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-11 text-center">
                <div class="card ">
                    <div class="row " >
                       <h3>Agenda una Cita</h3>
                    </div>
                <!-- Form start -->
                 <form method="POST" class="form-card" >
                    {% csrf_token %}
                   <div class="row justify-content-between text-left">
                       <div class="form-group  flex-column d-flex">
                       <label class="form-control-label  px-3" for="especialidad"> Especialidad</label>
                          <div class="col-md-10">
                           <select name="especialidad" id="id_especialidad" class="form-control select2">
                            <option value="0"> Selecciona una Especialidad </option>
                            {% for x in especialidad %}
                                <option value="{{ x.id }}"> {{ x.nombre_esp }}</option>
                            {% endfor %}
                           </select>
                          </div>
                       </div>
                   </div>
                   <div class="row justify-content-between text-left">
                       <div class="form-group  flex-column d-flex">
                       <label class="form-control-label  px-3" for="medico"> Disponibilidad </label>
                           <div class="col-md-12">
                           <select multiple name="esp_medic" id="id_esp_med" class="form-control" >
                            <option value="0"> Escoje un Médico </option>
                            {% for x in medico %}
                                <option value="{{ x.id }}" data-chained= "{{ x.id_especialidad.id }}">
                                    {{ x }}
                                </option>
                            {% endfor %}
                           </select>
                           </div>
                       </div>
                   </div>
                   <div class="row justify-content-between text-left">
                       <div class="form-group   flex-column d-flex">
                       <label for="motivo"> Motivo </label>
                       <div class="col-md-10">
                         {{ form.motivo|add_class:'form-control select2' }}
                       </div>
                       </div>
                   </div>
                   <div class="row justify-content-end">
                       <div class="form-group  ">
                        <button type="submit" class="btn btn alert-danger" > Aceptar </button>
                        <button class="btn btn badge-success" > <a href="{% url 'citas:lista_citas' %}">Volver </a> </button>
                        </div>
                   </div>
                </form>
                <!-- Form end-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block JSextra %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />


{% endblock %}